*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "MainFont";
    src: url("./fonts/THELASTTRUNKS-Personal-Use-Only.ttf");
}
@font-face {
    font-family: "TitleFont";
    src: url("./fonts/Watermelon\ Sugar.ttf");
}
@font-face {
    font-family: "TitleFont2";
    src: url("./fonts/Super\ Chips.ttf");
}
@font-face {
    font-family: "betweenLinesFont";
    src: url("./fonts/FenwickWoodtype.ttf");
}
@font-face {
    font-family: "lovelyCommunityFont";
    src: url("./fonts/Lover\ Loves.ttf");
}
@font-face {
    font-family: "graffitiFont";
    src: url("./fonts/Grandover.ttf");
}
@font-face {
    font-family: "TitleFont3";
    src: url("./fonts/KeeponTruckin.ttf");
}
@font-face {
    font-family: "TitleFont4";
    src: url("./fonts/BILLO___.TTF");
}
body{
    background-color: #fff2bd;
    overflow-x: hidden;
}
.hero-div{
    width: 100%;
    height: 679px;
    background-image: url("./images/seniors-pic.jpg");
    background-size: cover;
    background-position: center;
}
.gradient-hero-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(transparent , #285ccc96, #285ccccc);
}.main-text{
    color: #fff2bd;
    font-size: 35px;
    font-family: "TitleFont", sans-serif;
    font-weight: 300;
    user-select: none;
    -webkit-user-drag: none;
    z-index: 1000;
    margin-top: 230px;
}
.seniors-main-text{
    position: absolute;
    font-family: "MainFont", sans-serif;
    font-size: 70px;
    color:#fff2bd;
    user-select: none;
    -webkit-user-drag: none;
    z-index: 1000;
    margin-top: -30px;
}
#container{
    width: 100%;
    height: 100%;
}
.sticker{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 200px;
    cursor: pointer;
}
#sticker1{
    top: 90px;
    left: 5%;
}
#sticker2{
    top: 0px;
    left: 85%;
}
#sticker3{
    top: 230px;
    left: 79%;
    z-index: 1001;
}
#sticker4{
    top: 100px;
    left: 45%;
    rotate: -15deg;
}
#sticker5{
    top: 400px;
    left: 15%;
    rotate: -15deg;
}
#sticker6{
    top: 800px;
    left: 5%;
    rotate: -15deg;
}
#sticker7{
    top: 750px;
    left: 45%;
    rotate: -15deg;
}
#sticker8{
    top: 1250px;
    left: 90%;
    rotate: 10deg;
}
#sticker9{
    top: 1200px;
    left: 35%;
    rotate: -15deg;
}
#sticker10{
    top: 550px;
    left: 80%;
    rotate: 5deg;
}
.sticker-img{
    -webkit-user-drag: none;
    user-select: none;
    rotate: 5deg;
}
#sticker1-img{
    width: 250px;
    height: auto;
}
#sticker2-img{
    width: 50px;
    height: auto;
}
#sticker3-img{
    width: 70px;
    height: auto;
}
#sticker4-img{
    width: 85px;
    height: auto;
}
#sticker5-img{
    width: 90px;
    height: auto;
}
#sticker6-img{
    width: 90px;
    height: auto;
}
#sticker7-img{
    width: 90px;
    height: auto;
}
#sticker8-img{
    width: 90px;
    height: auto;
}
#sticker9-img{
    width: 90px;
    height: auto;
}
#sticker10-img{
    width: 90px;
    height: auto;
}
#start-button{
    width: 280px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #fff2bd;
    border-bottom-width: 5px;
    color: #fff2bd;
    border-radius: 10px;
    font-size: 25px;
    font-family: "TitleFont", sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin-top: 150px;
    margin-left: 39%;
}
#start-button:hover{
    transition: 0.7s ease;
    background-color: #fff2bd15;
}
.countdown-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: #fff2bd;
    box-shadow: 20px 0px 250px #fff2bd;
}
.countdown-section-header{
    font-family: "TitleFont2", sans-serif;
    font-size: 65px;
    font-weight: 500;
    margin-top: 3%;
    margin-left: 25%;
    user-select: none;
}
#countdown-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 50%;
    margin-top: 50px;
    margin-left: 100px;
}
.countdown-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;
    margin-left: 20px;
    border: 3px solid black;
    border-radius: 8px;
    font-family: "MainFont", sans-serif;
    user-select: none;
    -webkit-user-drag: none;
    padding-top: 30px;
    padding-bottom: 30px;
}
#countdown-counter{
    font-size: 90px;
    font-weight: 200;
}
#countdown-label{
    font-size: 60px;
    font-family: "TitleFont", sans-serif;
}

.progress-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 72%;
    height: 35px;
    margin-top: 60px;
    margin-left: 190px;
}
#progressbar-div{
    display: flex;
    align-items: center;
    width: 70%;
    height: 35px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
}
.progressbar-text{
    color: black;
    font-family: "TitleFont", sans-serif;
    font-size: 25px;
    margin-right: 20px;
}
#progressbar{
    height: 30px;
    background-color: black;
    border-radius: 5px;
    margin-left: 10px;
}
.seperation-section{
    background-color: #ffeca0;
}
.line1{
    width: 50%;
    height: 3px;
    background-color: black;
    margin-left: 0%;
}
.line2{
    width: 50%;
    height: 3px;
    background-color: black;
    margin-top: 170px;
    margin-left: 50%;

}
.between-lines-text{
    position: absolute;
    font-family: "betweenLinesFont";
    font-size: 50px;
    margin-left: 33%;
    margin-top: 55px;
}

/*honorboard*/
.honorboard-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url("./images/header-1.jpg");
    background-size: cover;
    margin-left: 0px;
    color: white;
    z-index: -1;
    margin-top: 40px;
}
.gradient-honorboard-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, #285cccc7);
    z-index: 1;
}
.options-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 40px;
    font-weight: 400;
}
#options-icon1{
    font-size: 40px;
    margin-left: 15px;
    cursor: pointer;
}
#options-icon1:hover{
    color: #285cccc7;
}
#options-icon2{
    font-size: 40px;
    margin-left: 15px;
    cursor: pointer;
}
#options-icon2:hover{
    color: #285cccc7;
}
#options-icon3{
    font-size: 40px;
    margin-left: 15px;
    cursor: pointer;
}
#options-icon3:hover{
    color: #285cccc7;
}
#options-icon4{
    font-size: 40px;
    margin-left: 15px;
    cursor: pointer;
}
#options-icon4:hover{
    color: #285cccc7;
}
.honorboard-header{
    font-family: "TitleFont3", sans-serif;
    font-size: 130px;
    font-weight: 600;
    margin-top: 50px;
}
.honorboard-description{
    font-size: 30px;
    font-family: "TitleFont3", sans-serif;
    font-weight: 300;
}
#honorboard-button{
    background-color: transparent;
    border: 2px solid #fff2bd;
    border-bottom-width: 5px;
    color: #fff2bd;
    border-radius: 10px;
    font-size: 26px;
    font-family: "TitleFont3", sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.honorboard-button{
    width: 260px;
    height: 60px;
    margin-top: 30px;
}
.honorboard-button2{
    width: 450px;
    height: 70px;
    margin-top: 20px;
}
.website-developers-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 650px;
}
.website-developers-header{
    font-family: "TitleFont4", sans-serif;
    color: #285cccc7;
    font-size: 65px;
    font-weight: 200;
    margin-top: 170px;
    margin-left: 20%;
}
#star1{
    position: absolute;
    width: 50px;
    height: auto;
    margin-top: 140px;
    margin-left: 42%;
    rotate: 170deg;
}
#developer-card{
    width: 310px;
    height: 400px;
    background-color: #fff2bd;
    margin-top: 150px;
    margin-left: 15%;
    border: 4px solid #285cccc7;
    box-shadow: 9px 9px 0 #285cccc7;
}
#developer-card:hover{
    transition: 0.7s ease;
    box-shadow: 25px 25px 0 #285cccc7;
}
.upper-card-div{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-card-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 30px;
    font-family: "TitleFont3", sans-serif;
    font-weight: 400;
    border-bottom: 5px solid #285cccc7;
    border-top: 5px solid #285cccc7;
    color: #285cccc7;
}
.lower-card-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-card-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    background-color: #285cccc7;
    border-radius: 350px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
#developer-image{
    margin-top: -132px;
    margin-right: 20px;
    width: 550px;
    height: auto;
    transform: scaleX(-1);
    user-select: none;
    -webkit-user-drag: none;
}
.developer-name-span{
    margin-left: 10px;
}
.developer-field-span{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
#developer-github-button{
    width: 90%;
    height: 60px;
    margin-top: 15px;
    background-color: transparent;
    border: 3px solid #285cccc7;
    color: #285cccc7;
    font-family: "TitleFont3", sans-serif;
    font-size: 25px;
    cursor: pointer;
}
#developer-github-button:hover{
    background-color: #285cccc7;
    color: #fff2bd;
}
/*
.footer-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background-color: #285cccc7;
}
.left-footer-div{
    width: 33%;
    height: 100%;
}
.middle-footer-div{
    width: 33%;
    height: 100%;
}
.right-footer-div{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    color: white;
    font-family: "TitleFont3", sans-serif;
}
.footer-about-header{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 40px;
}
#footer-school-logo{
    width: 85px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}
.footer-school-info{
    display: flex;
    flex-direction: row;
}
.school-name-span{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 80px;
}
.footer-school-span{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 18px;
}
.copyright-footer-text{
    position: absolute;
    color: white;
    font-family: "TitleFont3", sans-serif;
    font-weight: 200;
    margin-left: 3%;
    margin-top: 220px;
}*/
@media screen and (max-width: 920px){
    .main-text{
        font-size: 25px;
    }
    #seniors-main-text{
        font-size: 60px;
        margin-bottom: 50px;
    }
    #start-button{
        margin-top: 150px;
    }
    .countdown-section-header{
        font-size: 60px;
        margin-top: 50px;
        margin-left: 150px;
    }
    #countdown-div{
        margin-left: 70px;
    }
    .progress-section {
        margin-left: 140px;
        margin-top: 0;
    }
    .honorboard-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .honorboard-header {
        font-size: 90px;
    }
    .website-developers-header{
        margin-left: 50px;
    }
}
@media screen and (max-width: 800px){
    #seniors-main-text{
        font-size: 50px;
    }
    #start-button{
        margin-left: 250px;
    }
    .countdown-section-header {
        font-size: 45px;
    }
    #countdown-div{
        margin-left: 50px;
    }
    .progress-section{
        margin-left: 100px;
    }
    .website-developers-header{
        margin-left: 30px;
    }
}
@media screen and (max-width: 660px){
    #seniors-main-text{
        font-size: 45px;
    }
    #start-button{
        margin-left: 200px;
    }
    .countdown-section{
        height: 1300px;
    }
    .countdown-section-header{
        font-size: 45px;
        margin-left: 100px;
    }
    #countdown-div{
        flex-direction: column;
        margin-top: 250px;
    }
    .countdown-box {
        padding: 30px;
        margin-top: 20px;
    }
    .progress-section{
        margin-top: 270px;
    }
    .honorboard-header{
        font-size: 80px;
    }
    .website-developers-div{
        flex-direction: column;
    }
    .website-developers-header{
        margin-top: 50px;
        margin-left: 200px;
    }
    #developer-card{
        margin-top: 100px;
        margin-left: 160px;
    }
}
@media screen and (max-width: 580px){
    .main-text{
        font-size: 22px;
        margin-top: 250px;
    }
    #seniors-main-text{
        font-size: 38px;
    }
    #start-button{
        margin-top: 100px;
        margin-left: 120px;
    }
    .countdown-section{
        height: 1400px;
    }
    .honorboard-header{
        font-size: 60px;
    }
    .honorboard-description{
        font-size: 25px;
    }
    .website-developers-header{
        margin-left: 150px;
        font-size: 50px;
    }
    #developer-card{
        margin-left: 100px;
    }
}
@media screen and (max-width: 450px){
    #seniors-main-text{
        font-size: 45px;
        margin-left: 20px;
        margin-top: 50px;
    }
    #start-button{
        margin-top: 150px;
        margin-left: 80px;
    }
    .countdown-box{
        width: 150px;
    }
    #countdown-div{
        margin-left: 35px;
    }
    .progress-section{
        margin-left: 50px;
    }
    .honorboard-header{
        font-size: 50px;
    }
    .honorboard-description{
        font-size: 18px;
    }
    .honorboard-button2{
        width: 350px;
    }
    .website-developers-header{
        margin-left: 100px;
    }
    #developer-card{
        margin-left: 50px;
    }
}